/* Stylesheet */

body {
	margin: 0;
	font-family: Lucida Grande;
	background-color: whitesmoke;
}

h1 {
	color: #252525;
	font-size: 16px;
	text-align: center;
}

.container {
	text-align: center;
	width: auto;
	padding: 0 15px;
	padding-top: 20px;
	margin: 0 auto;
}

.card {
	text-align: center;
	margin: 0 auto;
	width: 480px;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 10px 0 15px rgba(255, 255, 255, 0.1);
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid #e3e6f0;
	border-radius: 1.35rem;
}

.card > hr {
	margin-right: 0;
	margin-left: 0;
}

.calculator {
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 400px;
	background-color: transparent;
}

.calculator-screen {
	width: 100%;
	height: 100px;
	background-color: #252525;
	color: #ffffff;
	text-align: right;
	font-size: 32px;
	border: 2px solid whitesmoke;
	padding: 0 20px;
	box-sizing: border-box;
	border-radius: 0.70rem;
}

.calculator-keys {
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -0.75rem;
	margin-left: -0.75rem;
}

button{
	height: 80px;
	background-color: darkgray;
	border: 2px solid whitesmoke;
	font-size: 32px;
	color: #fff;
	width: 25%;
	outline: none;
	border-radius: 0.75rem;
}


button:hover {
	background-color: grey;
}

.all-clear, .zero-btn{
	width: 50%;
}

.operator, .equal-sign {
	background-color: #6957e7;
}

.percentage {
	background-color: orange;
}

.percentage:hover {
	background-color: darkorange;
}

.operator:hover, .equal-sign:hover {
	background-color: #3a2d80;
}

footer {
	padding: 0;
	margin: 0;
	position: relative;
	background-color: transparent;
}

footer p {
	color: darkgray;
	font-size: 12px;
	text-align: center;
}

footer a {
	color: black;
	font-size: 12px;
	text-decoration: none;
	background-color: transparent;
}
/* Responsive */

@media all and (max-width: 1000px) {
	.calculator {
		width: 85%;
		padding-top: 30px;
	}
}

@media all and (max-width: 670px) {
	.card {
		position: relative;
		width: 90%;
	}

	.calculator {
		width: 85%;
		padding-top: 20px;
	}

	.container {
		max-width: 540px;
	}
}

/* Frontend Developer FGA 2022 */
